@import "_variables.scss";
@import "_mixins.scss";
@import "_root.scss";
@import "_keyframes.scss";
@import "_reset.scss";


/* APP */
.wrapper {
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.breakpoints {
	@include breakpoint(xxl) { 
		font-size: 13px;
	}
	@include breakpoint(xl) {
		font-size: 12px;
	}
	@include breakpoint(lg) {
		display: none;
	}  
}


/* SHARED */
.text {
	&-preview {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		&-open {
			cursor: pointer;
		}
		&.open {
			line-clamp: inherit;
		}
	}
	&-line-1 {
		line-clamp: 1;
	}
	&-line-2 {
		line-clamp: 2;
	}
	&-line-3 {
		line-clamp: 3;
	}
	&--is-clamped {
		cursor: help;
	}
}
.icon {
	stroke: currentColor;
	&-fill {fill: currentColor;}
	&-rotate-90 {transform: rotate(90deg);}
	&-rotate-180 {transform: rotate(180deg);}
	&-rotate-270 {transform: rotate(270deg);}
}


/* ENTITIES */
.nav {
	display: flex;
	align-items: center;
	gap: 32px;
	color: #fff;

	.break-nav {
		display: block;
		width: 1px;
		height: 100%;
		background-color: #fff;
	}
}


/* FEATURES */
.form {
	input {
		height: var(--size-60-50) !important;
		padding-left: 30px !important;
		border: none;
		outline: none;
	}
	.form-floating label {
		padding-left: 30px !important;
		font-size: var(--fs-16-14);
		@media screen and (max-width: 1199px) {
			padding: 0.85rem 0.75rem;
		}
	}
	button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: var(--size-60-50);
		padding: 0 30px;
	}
}
.search-form {

	position: relative;
	width: 100%;

	input {
		display: -webkit-box;
		line-clamp: 1;
		box-orient: vertical;  
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;  
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		height: 40px;
		padding: 0 16px 0 48px;
		font-size: var(--fs-16-14);
		line-height: 120%;
		color: #fff;
		background: transparent;
		border-radius: 50px;
		border: none;
		outline: none;
		box-shadow: 0 0 0 0.07rem #fff;
		transition: $trans;
		&::placeholder {
			@include font(400);
			color: #fff;
			font-size: var(--fs-16-14);
			line-height: 120%;
		}
		&:hover, &:focus {
			box-shadow: 0 0 0 0.07rem var(--accent-color-hover);
		}
	}
	button{
		position: absolute;
		top: 50%;
		left: 16px;
		color: #fff;
		border: none;
		background: none;
		transform: translateY(-60%);
		transition: $trans;
		&:hover { color: var(--accent-color-hover);}
	}
}


/* WIGETS */
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	width:	100%;
	height: var(--header-height);
	padding: 12px 0;
	background: #fff;
	z-index: 10;
	transition: $trans;
	background: var(--main-color);
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__search {
		width: 100%;
		max-width: 390px;
	}
}
.footer {
	margin-top: var(--page-gap);
	padding: 20px 0;
	background: #fff;
}


/* PAGES */
.page {
	padding-top: calc( var(--header-height) + var(--page-gap) );
  
	&__title {
		font-size: var(--fs-48-24);
		font-family: $bold;
	}
	&__subtitle {
		font-size: var(--fs-24-18);
		font-family: $bold;
	}
	&__heading {
		font-size: var(--fs-18-16);
		font-family: $bold;
	}
	&__checkbox {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
  
		&:hover {
			svg rect { fill: var(--main-color-hover); }
			svg polyline { stroke: var(--main-color-hover); }
		}
		input {
			position: absolute;
			left: 10px;
			bottom: 0;
			width: 1px !important;
			height: 1px !important;
			border: none !important;
			box-shadow: none !important;
	
			&:checked {
				~ svg rect { fill: var(--main-color); }
				~ svg polyline { stroke: #fff; }
			}
		}
		svg {
			margin-right: 10px;
			flex-shrink: 0;
		}
		svg rect {
			fill: var(--second-light-color);
		}
		svg polyline {
			stroke: var(--second-light-color);
		}
	}
	&__radio {
		display: flex;
		align-items: center;
		cursor: pointer;
		&:hover {
			svg rect:last-child { fill: var(--main-color); }
		}
		input {
			width: 1px;
			&:checked {
				~ svg rect:first-child { fill: var(--main-color); }
			}
		}
		svg { margin-right: 10px; }
		svg rect { fill: var(--second-light-color); }
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
  
		img {
			width: 100%;
			max-height: 600px;
			border-radius: 10px;
		}
		h1 {
			@include font(400);
			font-size: var(--fs-32-24);
			color: #ccc;
		}
		h2 {
			font-size: var(--fs-24-lg-16);
			font-family: $bold;
		}
		h3 {
			font-size: var(--fs-18-14);
			font-family: $bold;
		}
		a {
			display: block;
			width: fit-content;
		}
		q {
			font-size: var(--fs-18-16);
		}
		p {
			font-size: var(--fs-16-14);
		}
		span {
			font-size: 12px;
			color: var(--accent-color);
		}
		ul {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-left: 15px;
			list-style: none;
	
			li {
				padding-left: 15px;
				&::marker {
					content: '—';
					color: var(--main-color);
				}
			}
		}
		ol {
			display: flex;
			flex-direction: column;
			gap: 15px;
			list-style-type: none;
			counter-reset: num;
	
			li {
				counter-increment: num;
				display: flex;
				gap: 10px;
				&:before {
					content: counter(num);
					color: var(--main-color);
				}
				&:nth-child(-n+9)::before {
					content: "0" counter(num);
				}
			}
		}
		dl {
			div {
				display: flex;
				justify-content: space-between;
				gap: 10px;
				padding: 15px 0;
		
				font-size: var(--fs-14-12);
				border-bottom: 1px solid var(--second-color);
	
			dt {
				font-family: $regular;
			}
			dd {
				font-family: $bold;
			}
			}
		}
		table {
			display: block;
			overflow-x: auto;
	
			thead tr {
				color: #fff;
				font-family: $bold;
				background: #000;
			}
			tbody tr {
				&:nth-child(even) {
					background: var(--second-light-color);
				}
				&:hover {
					background: var(--accent-color);
					color: #fff;
				}
			}
			td {
				padding: 20px;
				font-size: var(--fs-16-sm-12);
				font-weight: normal;
				&:first-child {
					border-radius: 16px 0 0 16px;
				}
				&:last-child {
					border-radius: 0 16px 16px 0;
				}
			}
		}
	}
}