include ../layouts/mixins.pug
button(type="button" class="help-tooltip" data-bs-toggle="tooltip" data-bs-custom-class="tooltip" data-bs-placement="right" data-bs-title="Default tooltip. Here you’ll find something on the left.")