extends ../layouts/head.pug 

block variables
	- const pagetitle = "Цены";

block content
	main.page.pricing-page
		.pricing-hero(style="background-image: url(./img/bg.svg)")
			.container
				.pricing-hero__hgroup 
					h1.pricing-hero__title Pricing Plans
					p.pricing-hero__descr Upgrade your skills. Choose a plan that works for your budget and career goals.
		.pricing-cards
			.container
				.pricing-cards__items 
					section.pricing-card
						header.pricing-card__header 
							span Most popular!
						.pricing-card__body 
							.pricing-card__hgroup 
								h2.pricing-card__title Basic
								p.pricing-card__descr All Access Membership
							p.pricing-card__descr Includes all courses from many programs
							.pricing-card__plan
								h3.pricing-card__subtitle Pick your plan:
								form.pricing-card__form(action="#") 
									label.page__radio
										input(type="radio" name="radio" value="47" checked)
										svg(xmlns='http://www.w3.org/2000/svg', width='16px', height='16px', viewBox='0 0 0.253167 0.253167')
											rect(fill='#ED4300', width='0.253167', height='0.253167', rx='0.126584', ry='0.126584')
											rect(fill='white', x='0.0752923', y='0.0752921', width='0.096584', height='0.096584', rx='0.126584', ry='0.126584')
										span.page__radio__content
											span.pricing-card__price
												span $47
												span /month
											span.pricing-card__price__pay (pay annually — $564 / year)
											span.pricing-card__price__sale Save 30%!
									label.page__radio
										input(type="radio" name="radio" value="87")
										svg(xmlns='http://www.w3.org/2000/svg', width='16px', height='16px', viewBox='0 0 0.253167 0.253167')
											rect(fill='#ED4300', width='0.253167', height='0.253167', rx='0.126584', ry='0.126584')
											rect(fill='white', x='0.0752923', y='0.0752921', width='0.096584', height='0.096584', rx='0.126584', ry='0.126584')
										span.page__radio__content
											span.pricing-card__price
												span $87
												span /month
											span.pricing-card__price__pay (pay per month)
											
									button.btn-fill.btn-fill--main 
										span Enroll Now
							.pricing-card__includes 
								p Includes:
								ul.pricing-card__includes__list
									li
										p All 100+ Courses
										include ../components/help-button
									li
										p All 4 Certificate Programs
										include ../components/help-button
									li: p Excel, PPT, and PDF Files
									li: p Digital Blockchain Verified Certificates
					
					section.pricing-card.pricing-card--accent
						header.pricing-card__header 
							span Most benefits!
						.pricing-card__body 
							.pricing-card__hgroup 
								h2.pricing-card__title Full-Immersion
								p.pricing-card__descr All Access Membership
							p.pricing-card__descr Everything in the Basic plan, plus more
							.pricing-card__plan
								form.pricing-card__form(action="#") 
									label.page__radio
										input(type="radio" name="radio" value="47" checked)
										svg(xmlns='http://www.w3.org/2000/svg', width='16px', height='16px', viewBox='0 0 0.253167 0.253167')
											rect(fill='#ED4300', width='0.253167', height='0.253167', rx='0.126584', ry='0.126584')
											rect(fill='white', x='0.0752923', y='0.0752921', width='0.096584', height='0.096584', rx='0.126584', ry='0.126584')
										span.page__radio__content
											span.pricing-card__price
												span $77
												span /month
											span.pricing-card__price__pay (pay annually — $924 / year)
										
									button.btn-fill.btn-fill--accent
										span Enroll Now
							.pricing-card__includes 
								p Everything in Basic, plus:
								ul.pricing-card__includes__list
									li: p Capital IQ & EIKON Partner Integrations
									li
										p Premium Email Support
										include ../components/help-button
									li
										p Model Review & Feedback
										include ../components/help-button
									li
										p Additional Case Studies
										include ../components/help-button
									li: p Resume & Cover Letter Review
									li: p A FREE Modeling Competition Entry
		
		.pricing-details 
			.container
				.pricing-details__table
					table
						thead 
							tr 
								td 
								td.cell-center.cell-main 
									.pricing-details__hgroup 
										h4.pricing-details__title Basic
										p.pricing-details__descr All Access Membership
									p.pricing-details__per-year $564 / year
								td.cell-center.cell-accent
									.pricing-details__hgroup 
										h4.pricing-details__title Full-Immersion
										p.pricing-details__descr All Access Membership
									p.pricing-details__per-year $924 / year
						tbody 
							tr 
								td.cell-detail
									p All 100+ Courses
									include ../components/help-button
								td.cell-center: span.check-icon.check-icon--main
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail
									p All Certificate Programs
									include ../components/help-button
								td.cell-center: span.check-icon.check-icon--main
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail: p Quizzes, Assignments, and Tests
								td.cell-center: span.check-icon.check-icon--main
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail: p Excel, PPT, and PDF Files
								td.cell-center: span.check-icon.check-icon--main
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail: p Digital Blockchain Verified Certificate
								td.cell-center: span.check-icon.check-icon--main
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail: p Another Shared Benefit
								td.cell-center: span.check-icon.check-icon--main
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail: p Another Shared Benefit
								td.cell-center: span.check-icon.check-icon--main
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail: p Another Shared Benefit
								td.cell-center: span.check-icon.check-icon--miss
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail
									p All Certificate Programs
									include ../components/help-button
								td.cell-center: span.check-icon.check-icon--miss
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail
									p All Certificate Programs
									include ../components/help-button
								td.cell-center: span.check-icon.check-icon--miss
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail
									p All Certificate Programs
									include ../components/help-button
								td.cell-center: span.check-icon.check-icon--miss
								td.cell-center: span.check-icon.check-icon--accent
							tr 
								td.cell-detail
									p One FREE Financial Modeling Competition
									include ../components/help-button
								td.cell-center: span.check-icon.check-icon--miss
								td.cell-center: span.check-icon.check-icon--accent
						tfoot
							tr 
								td 
								td.cell-center
									h4.pricing-details__title Basic
									p.pricing-details__per-year $564 / year
									button.btn-fill.btn-fill--main 
										span Enroll Now
								td.cell-center
									h4.pricing-details__title Full-Immersion
									p.pricing-details__per-year $924 / year
									button.btn-fill.btn-fill--accent
											span Enroll Now

		article.faq
			.container 
				h2.page__title Frequently Asked Questions
				.faq-accordion.accordion#faq-accordion
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq1") Can I download the Excel files and financial modeling templates?
						div.faq-accordion__collapse.collapse#faq1(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть поме, хотя переход ограничивает переполнение.
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq2") How long do I have to complete the course?
						div.faq-accordion__collapse.collapse#faq2(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть поме, хотя переход ограничивает переполнение.
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq3") Are courses verified?
						div.faq-accordion__collapse.collapse#faq3(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента.
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq4") Can I email the instructor if I have questions?
						div.faq-accordion__collapse.collapse#faq4(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента.
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq5") Can I download the Excel files and financial modeling templates?
						div.faq-accordion__collapse.collapse#faq5(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть поме, хотя переход ограничивает переполнение.
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq6") How long do I have to complete the course?
						div.faq-accordion__collapse.collapse#faq6(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть поме, хотя переход ограничивает переполнение.
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq7") Are courses verified?
						div.faq-accordion__collapse.collapse#faq7(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента.
					.faq-accordion__item
						button.faq-accordion__button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#faq8") Can I email the instructor if I have questions?
						div.faq-accordion__collapse.collapse#faq8(data-bs-parent="#accordionExample")
							div.faq-accordion__content
								p Это тело аккордеона первого элемента. Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента.

		article.feedback
			.container 
				h2.page__title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at erat eget eros aliquam mattis 
				.feedback-slider 
					.feedback-slider__items
						include ../components/feedback-item
						include ../components/feedback-item
						include ../components/feedback-item
						include ../components/feedback-item
					button.feedback-slider__arrow.feedback-slider__arrow--prev.slider-prev(type="button")
					button.feedback-slider__arrow.feedback-slider__arrow--next.slider-next(type="button")
					.feedback-slider__dots





