include mixins.pug
header.header
    .container
        .header__row 
            .header__search
                include ../components/search-form
            nav.header__nav
                ul.nav
                    li: a.nav__link(href="#") All Courses
                    li: a.nav__link(href="#") For Business
                    li: .break-nav
                    li: a.nav__link(href="#") Log in
                    li: a.nav__link.nav__link--cta(href="#") Get Started
            button.header__burger.burger(type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-offcanvas")
                .burger__icon
                    span
                    span
                    span